---
import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');
---

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>豆子的数字花园</title>
	</head>
	<body>
		<h1>豆子的数字花园 🌱</h1>
		<p>欢迎来到我的个人博客。</p>
		
		<h2>文章列表</h2>
		<ul>
			{allPosts.map((post) => (
				<li>
					<a href={`/posts/${post.id}/`}>{post.data.title}</a> - {post.data.pubDate}
				</li>
			))}
		</ul>
	</body>
</html>