---
const { frontmatter } = Astro.props;
---
<html>
<head>
<title>{frontmatter.title}</title>
</head>
<body>
<h1>{frontmatter.title}</h1>
<p>发布日期: {frontmatter.pubDate}</p>
<article>
<slot />
</article>
</body>
</html>
